.letter-container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
}
button{
    background-color: transparent;
    border: none;
}

button:hover{
    cursor: pointer;
}