.letter-container{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    max-width: 1400px;
    margin: 50px auto;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
}
button{
    background-color: transparent;
    border: none;
}

button:hover{
    cursor: pointer;
}

/* colors */
.grey{
background-color: #8d9097;
}
.green{
background-color: #55b367;
}

.red{
background-color:#dc352d ;

}

.white{
background-color: #ffffff;

}

.yellow{
background-color: #edd301;

}
.blue{
background-color: #34a8db;

}

.teal{
background-color: #106f98;

}