body{
    background-color: #f1f1f1;
}


.cards-container {
  display: flex;
  max-width: 1200px;
  margin: 50px auto;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 18%;
  border-radius: 15px;
  /* flex-grow: 1; */
  border: solid;
  height: 350px;
  text-align: center;
  position: relative;
  transform-style: preserve-3d;
  perspective: 500px;
  transition: transform 0.5s;
}

.card img {
  height: 50%;
  max-width: 100%;
}

.card-front,
.card-back {
  border-radius: 15px;
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  backface-visibility: hidden;
}
.card-front{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-back {
  transform: rotateY(-180deg);
  /* z-index: 7; */
}

.card_open {
  transform: rotateY(180deg);
}
