* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 30px;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

.page-container {
  height: 100vh;
  background-color: mintcream;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.timer {
  position: absolute;
  top: 0;
  background-color: #66987f;
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}

.correct-count {
  position: absolute;
  background-color: #66987f;
  top: 0;
  right: 0;
  width: 150px;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  padding: 20px;
  border-bottom-left-radius: 10px;
}

.task {
    background-color: #66987f;
  width: 40%;
  padding: 30px;
  border: solid 2px black;
  border-radius: 10px;
  text-align: center;
}

.task__answers {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.task__answers button {
  width: 47%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}
